In [1]:
import pandas as pd
import geopandas as gpd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [7]:
os.chdir('c:\\Users\\Dchemist_rae\\Desktop\\VSC')

In [8]:
grid_results = pd.read_csv('non_imputed_data\\grid_results.csv')
grid_results[['city','country']] =grid_results['place'].str.split(',',expand=True)
grid_results["city"]= grid_results["city"].replace('Copenhagen Municipality', "Copenhagen") 
grid_results.head()

,place,average_index,max_index,min_index,std_index,grids,nsegments,unused_grids,city,country
0,"Utrecht,Netherlands",33.990826,79.123533,4.537612,11.855709,13.0,29528.0,6.0,Utrecht,Netherlands
1,"Munster,Germany",30.511597,81.125776,5.331263,13.538154,36.0,72169.0,14.0,Munster,Germany
2,"Antwerp,Belgium",31.036616,74.651484,6.011535,11.837196,27.0,41488.0,13.0,Antwerp,Belgium
3,"Copenhagen Municipality,Denmark",35.670568,79.875776,4.378882,16.763823,17.0,38241.0,9.0,Copenhagen,Denmark
4,"Amsterdam,Netherlands",30.796422,80.006901,6.521739,11.312743,29.0,68276.0,12.0,Amsterdam,Netherlands

In [9]:
whole_city =pd.read_csv('non_imputed_data\cities_results.csv')
whole_city[['city','country']] =whole_city['place'].str.split(',',expand=True)
whole_city["city"]= whole_city["city"].replace('Copenhagen Municipality', "Copenhagen") 
whole_city.head()

,place,average_index,max_index,min_index,std_index,city,country
0,"Utrecht,Netherlands",33.379368,78.726708,4.378882,11.858010,Utrecht,Netherlands
1,"Munster,Germany",29.329674,80.079051,5.547713,13.286324,Munster,Germany
2,"Antwerp,Belgium",30.121521,74.968944,5.807453,11.839060,Antwerp,Belgium
3,"Copenhagen Municipality,Denmark",34.551671,79.875776,4.378882,16.806470,Copenhagen,Denmark
4,"Amsterdam,Netherlands",29.809249,79.689441,4.378882,11.350735,Amsterdam,Netherlands

In [12]:
df2 = whole_city.merge(grid_results, on="city", how = 'inner',suffixes =['_cities','_grid'])
#df2 = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df2.drop_duplicates('city',keep='last', inplace=True)
df2.head()

,place_cities,average_index_cities,max_index_cities,min_index_cities,std_index_cities,city,country_cities,place_grid,average_index_grid,max_index_grid,min_index_grid,std_index_grid,grids,nsegments,unused_grids,country_grid
0,"Utrecht,Netherlands",33.379368,78.726708,4.378882,11.858010,Utrecht,Netherlands,"Utrecht,Netherlands",33.990826,79.123533,4.537612,11.855709,13.0,29528.0,6.0,Netherlands
1,"Munster,Germany",29.329674,80.079051,5.547713,13.286324,Munster,Germany,"Munster,Germany",30.511597,81.125776,5.331263,13.538154,36.0,72169.0,14.0,Germany
2,"Antwerp,Belgium",30.121521,74.968944,5.807453,11.839060,Antwerp,Belgium,"Antwerp,Belgium",31.036616,74.651484,6.011535,11.837196,27.0,41488.0,13.0,Belgium
3,"Copenhagen Municipality,Denmark",34.551671,79.875776,4.378882,16.806470,Copenhagen,Denmark,"Copenhagen Municipality,Denmark",35.670568,79.875776,4.378882,16.763823,17.0,38241.0,9.0,Denmark
4,"Amsterdam,Netherlands",29.809249,79.689441,4.378882,11.350735,Amsterdam,Netherlands,"Amsterdam,Netherlands",30.796422,80.006901,6.521739,11.312743,29.0,68276.0,12.0,Netherlands

In [13]:
 plt.figure(figsize=(10,6))
 plot =sns.barplot(x='city', y="average_index", data=cities_results,hue='', order=cities_results.sort_values('average_index', ascending= False).city)
 sns.set_style("dark")
 plot.set(xlabel="Cities", ylabel = "Indexes")
 plot.set_xticklabels(chart.get_xticklabels(), rotation=90)
 plt.show()

18